<section class="content-container">
    <div class="content-container-scrollable">
        <div class="content">
            <section class="preview-notification-leftnav">
                <div class="preview-category category-browser">
                    <h2 class="preview-category-header preview-animating-bg"></h2>
                    <ul>
                        <li class="preview-category-list-item preview-animating-bg" ng-repeat="item in [1,2,3]"></li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
</section>
<section class="notifications-container content-container">
    <div class="content-container-scrollable">
        <div class="notifications-content-wrapper">
            <h2 class="preview-notification-section-title preview-animating-bg"></h2>
            <div class="preview-notification-card" ng-repeat="item in [1,2,3,4,5,6]">
                <div class="preview-notification-card-header">
                    <div class="preview-notification-card-header-avatar preview-animating-bg"></div>
                    <h2 class="preview-notification-card-header-title preview-animating-bg"></h2>
                </div>
                <p class="preview-notification-description-line"></p>
                <p class="preview-notification-description-line short"></p>
                <p class="preview-notification-description-line timestamp"></p>
                <div class="preview-notification-card-actions"></div>
            </div>
        </div>
    </div>
</section>
