<div id="{{ notificationCardCtrl.id }}" class="hub-notifications-card-container" long-card-directive ng-class="{'hub-notifications-card-container-hidden': !loaded, 'hub-notifications-card-container-mobile': notificationCardCtrl.isMobileApp, 'priority-border' : notificationCardCtrl.isUnactedPriority}">
    <div class="notifications-content">
        <div class="notifications-header-container">
            <svg ng-if="notificationCardCtrl.isNewAppNotification" svg-symbol="icon-notification-new-apps"
                 class="icon-notifications-ws1 icon-new-app-notification"></svg>
            <div ng-if="notificationCardCtrl.image" class="icon-notifications-ws1 image-holder" image-load>
                <img class="icon-notification-image" ng-src="{{notificationCardCtrl.image}}"/>
            </div>
            <svg ng-if="!notificationCardCtrl.isNewAppNotification && !notificationCardCtrl.image"
                 svg-symbol="icon-notification-default" class="icon-notifications-ws1 icon-default-notification"></svg>
            <div>
                <h2 class="notifications-title-with-subtitle">{{ notificationCardCtrl.title }}</h2>
                <span ng-if="notificationCardCtrl.subtitle" class="notifications-subtitle">{{ notificationCardCtrl.subtitle }}</span>
                <span class="notifications-subtitle-timestamp"> {{notificationCardCtrl.date}}</span>
            </div>
        </div>
        <div class="notifications-body-container">
            <p class="notifications-body-text" ng-if="notificationCardCtrl.message" ng-bind-html="notificationCardCtrl.message"></p>
            <div ng-if="notificationCardCtrl.additionalBodySection" class="notifications-additional-body-section">
                <div ng-repeat="app in notificationCardCtrl.newApps" class="notification-new-app-icon-container">
                    <img ng-src={{app.iconUrl}} class="icon-additional-body-icons"
                         ng-class="{'notification-img-invert': notificationCardCtrl.hideVirtualApp && app.appType === 'VIRTUAL'}">
                </div>
                <p ng-if="notificationCardCtrl.excessIconsMessage"
                   class="notification-extra-icon-text">{{::notificationCardCtrl.excessIconsMessage }}</p>
            </div>
            <div ng-if="notificationCardCtrl.bodyFieldsSection" class="notifications-card-body-fields-section">
                <p class="notifications-body-text field-body-text">{{::notificationCardCtrl.cardBodyFieldTitle }}</p>
                <p class="notifications-body-text field-body-text">{{::notificationCardCtrl.cardBodyFieldDescription }}</p>
                <div ng-repeat="(key, value) in notificationCardCtrl.cardBodyFieldContent"
                     class="notification-card-body-fields-content">
                    <p class="key">{{::key }}</p>
                    <p class="value" time-stamp-check="{{value}}"></p>
                </div>
            </div>
            <div ng-if="notificationCardCtrl.bodyFields.length > 1" class="notifications-card-body-fields-section">
                <div ng-repeat="fields in notificationCardCtrl.bodyFields | limitTo : 3" class="notification-card-body-fields-content">
                    <div ng-if="fields.type === 'GENERAL'">
                        <p class="key">{{::fields.title }}</p>
                        <p class="value" time-stamp-check="{{fields.description}}"></p>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="notificationCardCtrl.actions.length" class="notifications-actions-container">
            <div class="hub-action-container" ng-class="notificationCardCtrl.getHubLabelClass(action)"
                 ng-repeat="action in notificationCardCtrl.actions">
                <div id="{{ action.id }}" class="notification-button" ng-click="notificationCardCtrl.performAction(action, true)"
                     ng-class="notificationCardCtrl.getLabelClass(action)"
                     ng-bind="notificationCardCtrl.getHubLabel(action)">
                </div>
            </div>
        </div>
    </div>
</div>
