<div class="eight- grid">
    <div class="eight- box">8</div>
    <div class="seven- box">7</div>
    <div class="one- box">1</div>
    <div class="six- box">6</div>
    <div class="two- box">2</div>
    <div class="five- box">5</div>
    <div class="three- box">3</div>
    <div class="four- box">4</div>
    <div class="two- box">2</div>
    <div class="one- box">1</div>
    <div class="one- box">1</div>
</div>
<!-- demo styles -->
<style>
.box { font-size: 24px; text-align: center; background: #ccc; }
.box:nth-child(even) { background: #999; }
</style>
