<div modal-new class="modal-changepassword">
    <section class="dialog-container" ng-controller="ChangePasswordController as cpCtrl">
        <header class="dialog-header">
            <h2>{{::'app.changePassword.title' | i18n}}</h2>
        </header>

        <div class="dialog-body">

            <div class="right-container">
                <div ng-show="cpCtrl.policies" class="policy-container">
                    <div class="password-policy">
                        <p class="password-requirement-title">{{:: 'app.passwordPolicy.passwordRequirements' | i18n}}</p>
                        <p ng-bind-html="cpCtrl.policyString"></p>
                    </div>
                </div>
            </div>
            <div class="password-container">
                <form name="changePasswordForm" novalidate>
                    <div class="error-messages">
                        <svg ng-show="cpCtrl.showErrors || cpCtrl.errorMessage" class="icon-password-error" svg-symbol="icon-notify-error"></svg>
                        <span class="server-errors" ng-show="cpCtrl.showErrors" ng-repeat="error in cpCtrl.errorMessages">{{ error.description }}&nbsp;</span>
                        <span class="mismatch-error" ng-show="cpCtrl.errorMessage">{{cpCtrl.errorMessage}}</span>
                    </div>
                    <div class="input-placeholder-animate">
                        <input class="input-password-field"
                                type="{{cpCtrl.currentInputType}}"
                                ng-model="cpCtrl.currentPassword"
                                disable-copy-paste
                                required />
                        <label>{{:: 'app.passwordPolicy.label.currentpassword' | i18n}}</label>
                        <button class="reveal-password-button" ng-click="cpCtrl.togglePassword('current')">
                            <svg ng-if="!cpCtrl.showCurrentPassword" svg-symbol="icon-show-password"></svg>
                            <svg ng-if="cpCtrl.showCurrentPassword" svg-symbol="icon-hide-password"></svg>
                        </button>
                    </div>
                    <div class="input-placeholder-animate">
                        <input class="input-password-field"
                               ng-class="{'error' : cpCtrl.errorMessage}"
                               type="{{cpCtrl.newInputType1}}"
                               ng-model="cpCtrl.newPassword"
                               disable-copy-paste
                               required />
                        <label>{{:: 'app.passwordPolicy.label.newpassword' | i18n}}</label>
                        <button class="reveal-password-button" ng-click="cpCtrl.togglePassword('new1')">
                            <svg ng-if="!cpCtrl.showNewPassword1" svg-symbol="icon-show-password"></svg>
                            <svg ng-if="cpCtrl.showNewPassword1" svg-symbol="icon-hide-password"></svg>
                        </button>
                    </div>
                    <div class="input-placeholder-animate">
                        <input class="input-password-field"
                               ng-class="{'error' : cpCtrl.errorMessage}"
                               type="{{cpCtrl.newInputType2}}"
                               ng-model="cpCtrl.confirmNewPassword"
                               disable-copy-paste
                               required />
                        <label>{{:: 'app.passwordPolicy.label.confirmpassword' | i18n}}</label>
                        <button class="reveal-password-button" ng-click="cpCtrl.togglePassword('new2')">
                            <svg ng-if="!cpCtrl.showNewPassword2" svg-symbol="icon-show-password"></svg>
                            <svg ng-if="cpCtrl.showNewPassword2" svg-symbol="icon-hide-password"></svg>
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <footer class="dialog-actions two-action">
            <button class="setting-button secondary-button" ng-click="cpCtrl.closePasswordForm($event)">{{:: 'button.cancel' | i18n }}</button>
            <button class="setting-button primary-button password-save-button" ng-click="cpCtrl.changePasswordConfirm($event)" ng-disabled="changePasswordForm.$invalid">{{:: 'button.save' | i18n }}</button>
        </footer>
    </section>
</div>
