<div modal-new class="hub-modal-container modal-changepassword">
    <section class="dialog-container" ng-controller="ChangePasswordController as cpCtrl">
        <div ng-show="cpCtrl.isLoading" class="loading-app-details-container">
            <spinner-loading></spinner-loading>
        </div>
        <header class="dialog-header">
            <div class="mobile-subpage-back-button"
                 ng-click="cpCtrl.closePasswordForm($event)">
                <subpage-back-button class="change-password-page"></subpage-back-button>
            </div>
            <h2>{{::'app.changePassword.title' | i18n}}</h2>
            <div class="editmode-close-button" ng-click="cpCtrl.closePasswordForm($event)">
                <svg svg-symbol="icon-close-popup"></svg>
            </div>
            <div class="header-actions">
                <button class="sort-action primary-btn sort-save password-save-button for-mobile"
                        ng-class="{'enabled-state': !changePasswordForm.$invalid}"
                        ng-click="cpCtrl.changePasswordConfirm($event)"
                        ng-disabled="changePasswordForm.$invalid">
                    {{:: 'button.save' | i18n }}
                </button>
            </div>
        </header>
        <main class="dialog-body">
            <div class="password-container">
                <form name="changePasswordForm" novalidate>
                    <div class="error-messages">
                        <svg ng-show="cpCtrl.showErrors || cpCtrl.errorMessage" class="icon-password-error" svg-symbol="icon-notify-error"></svg>
                        <span class="server-errors" ng-show="cpCtrl.showErrors" ng-repeat="error in cpCtrl.errorMessages">{{ error.description }}&nbsp;</span>
                        <span class="mismatch-error" ng-show="cpCtrl.errorMessage">{{cpCtrl.errorMessage}}</span>
                    </div>
                    <div class="input-placeholder-animate">
                        <input class="input-password-field"
                               type="{{cpCtrl.currentInputType}}"
                               ng-model="cpCtrl.currentPassword"
                               required
                               disable-copy-paste />
                        <label>{{:: 'app.passwordPolicy.label.currentpassword' | i18n}}</label>
                        <button class="reveal-password-button" ng-click="cpCtrl.togglePassword('current')">
                            <svg ng-if="!cpCtrl.showCurrentPassword" svg-symbol="icon-show-password"></svg>
                            <svg ng-if="cpCtrl.showCurrentPassword" svg-symbol="icon-hide-password"></svg>
                        </button>
                    </div>
                    <div class="input-placeholder-animate">
                        <input class="input-password-field"
                               ng-class="{'error' : cpCtrl.errorMessage}"
                               type="{{cpCtrl.newInputType1}}"
                               ng-model="cpCtrl.newPassword"
                               required
                               disable-copy-paste />
                        <label>{{:: 'app.passwordPolicy.label.newpassword' | i18n}}</label>
                        <button class="reveal-password-button" ng-click="cpCtrl.togglePassword('new1')">
                            <svg ng-if="!cpCtrl.showNewPassword1" svg-symbol="icon-show-password"></svg>
                            <svg ng-if="cpCtrl.showNewPassword1" svg-symbol="icon-hide-password"></svg>
                        </button>
                    </div>
                    <div class="input-placeholder-animate">
                        <input
                                class="input-password-field"
                                ng-class="{'error' : cpCtrl.errorMessage}"
                                type="{{cpCtrl.newInputType2}}"
                                ng-model="cpCtrl.confirmNewPassword"
                                required
                                disable-copy-paste />
                        <label>{{:: 'app.passwordPolicy.label.confirmpassword' | i18n}}</label>
                        <button class="reveal-password-button" ng-click="cpCtrl.togglePassword('new2')">
                            <svg ng-if="!cpCtrl.showNewPassword2" svg-symbol="icon-show-password"></svg>
                            <svg ng-if="cpCtrl.showNewPassword2" svg-symbol="icon-hide-password"></svg>
                        </button>
                    </div>
                </form>
            </div>
            <div class="right-container">
                <div ng-show="cpCtrl.policies" class="policy-container">
                    <div class="password-policy">
                        <p class="password-requirement-title">{{:: 'app.passwordPolicy.passwordRequirements' | i18n}}</p>
                        <p ng-bind-html="cpCtrl.policyString"></p>
                    </div>
                </div>
            </div>
        </main>
        <footer class="dialog-actions">
            <button class="button-action primary-action password-save-button for-desktop"
                    ng-class="{'enabled-state': !changePasswordForm.$invalid}"
                    ng-click="cpCtrl.changePasswordConfirm($event)"
                    ng-disabled="changePasswordForm.$invalid">
                {{:: 'button.save' | i18n }}
            </button>
        </footer>
    </section>
</div>
