<dl class="description- list">
    <dt class="list-term"><%= w.0 %></dt>
    <dd class="list-description"><%= s.0 %></dd>
    <dt><%= w.1 %></dt>
    <dd><%= s.2 %></dd>
    <dd><%= s.3 %></dd>
    <dt class="list-item"><%= s.3 %></dt>
</dl>

<dl class="compact- description- list">
    <dt class="list-term"><%= w.0 %></dt>
    <dd class="list-description"><%= s.0 %></dd>
    <dt><%= w.1 %></dt>
    <dd><%= s.2 %></dd>
    <dd><%= s.3 %></dd>
    <dt class="list-item"><%= s.3 %></dt>
</dl>
<!-- demo styles -->
<style>
dl + dl { margin-top: 2em; }
</style>
