<p>
    <button>Button</button>
    <button class="is-hovered">Hover</button>
    <button class="is-active">Active</button>
    <button class="is-disabled">Disabled</button>
</p>
<p>
    <button class="danger- button">Danger</button>
    <button class="danger- button is-hovered">Hover</button>
    <button class="danger- button is-active">Active</button>
    <button class="danger- button is-disabled">Disabled</button>
</p>
<p>
    <button class="safe- button">Safe</button>
    <button class="safe- button is-hovered">Hover</button>
    <button class="safe- button is-active">Active</button>
    <button class="safe- button is-disabled">Disabled</button>
</p>
<p>
    <button class="primary- button">Primary</button>
    <button class="primary- button is-hovered">Hover</button>
    <button class="primary- button is-active">Active</button>
    <button class="primary- button is-disabled">Disabled</button>
</p>
<p>
    <button class="hollow- button">Hollow</button>
    <button class="hollow- button is-hovered">Hover</button>
    <button class="hollow- button is-active">Active</button>
    <button class="hollow- button is-disabled">Disabled</button>
</p>
<p>
    <button class="hollow- safe- button">Safe</button>
    <button class="hollow- safe- button is-hovered">Hover</button>
    <button class="hollow- safe- button is-active">Active</button>
    <button class="hollow- safe- button is-disabled">Disabled</button>
</p>
<p>
    <button class="hollow- danger- button">Danger</button>
    <button class="hollow- danger- button is-hovered">Hover</button>
    <button class="hollow- danger- button is-active">Active</button>
    <button class="hollow- danger- button is-disabled">Disabled</button>
</p>
<p>
    <button class="hollow- primary- button">Primary</button>
    <button class="hollow- primary- button is-hovered">Hover</button>
    <button class="hollow- primary- button is-active">Active</button>
    <button class="hollow- primary- button is-disabled">Disabled</button>
</p>
