<p>
    <button class="x-small- button">X-Small</button>
    <button class="small- button">Small</button>
    <button class="medium- button">Medium</button>
    <button class="large- button">Large</button>
    <button class="x-large- button">X-Large</button>
</p>
<p>
    <button class="x-small- safe- button">X-Small</button>
    <button class="small- safe- button">Small</button>
    <button class="medium- safe- button">Medium</button>
    <button class="large- safe- button">Large</button>
    <button class="x-large- safe- button">X-Large</button>
</p>
<p>
    <button class="x-small- primary- button">X-Small</button>
    <button class="small- primary- button">Small</button>
    <button class="medium- primary- button">Medium</button>
    <button class="large- primary- button">Large</button>
    <button class="x-large- primary- button">X-Large</button>
</p>
