<ul class="tool- bar">
    <li class="button"><i class="grid- glyph"></i>
    <li class="button is-selected"><i class="list- glyph"></i>
    <li class="button"><i class="columns- glyph"></i>
    <li class="button"><i class="coverflow- glyph"></i>
</ul>
<button><i class="move- glyph"></i> Move</button>
<ul class="button- bar">
    <!-- Note: Do NOT close the <li> tags -->
    <li class="button">First Menu
    <li class="button is-selected">Selected Menu
    <li class="button">Third Menu
</ul>
<br>
<ul class="small- tool- bar">
    <li class="button"><i class="grid- glyph"></i>
    <li class="button is-selected"><i class="list- glyph"></i>
    <li class="button"><i class="columns- glyph"></i>
    <li class="button"><i class="coverflow- glyph"></i>
</ul>
<button class="small- button"><i class="move- glyph"></i> Move</button>
<ul class="small- button- bar">
    <!-- Note: Do NOT close the <li> tags -->
    <li class="button">First Menu
    <li class="button is-selected">Selected Menu
    <li class="button">Third Menu
</ul>
<br>
<ul class="x-small- tool- bar">
    <li class="button"><i class="grid- glyph"></i>
    <li class="button is-selected"><i class="list- glyph"></i>
    <li class="button"><i class="columns- glyph"></i>
    <li class="button"><i class="coverflow- glyph"></i>
</ul>
<div class="x-small- tool- bar"><!-- If you don't use <ul>,
    be careful with the whitespace --><button>
        <i class="reverse-play- glyph"></i>
    </button><button>
        <i class="play- glyph"></i>
    </button></div>
<button class="x-small- button"><i class="move- glyph"></i> Move</button>
<ul class="x-small- button- bar">
    <!-- Note: Do NOT close the <li> tags -->
    <li class="button">First Menu
    <li class="button is-selected">Selected Menu
    <li class="button">Third Menu
</ul>
<br>
<ul class="button- bar">
    <li class="button">Default
    <li class="button is-disabled">Disabled
    <li class="safe- button">Safe
    <li class="danger- button">Danger
    <li class="primary- button">Primary
</ul>
