<p>
    <button class="previous- button">Previous</button>
    <button class="button">Current</button>
    <button class="next- button">Next</button>
</p>
<p>
    <button class="previous- button is-disabled">Previous</button>
    <button class="button">Current</button>
    <button class="next- primary- button">Next</button>
</p>
<p>
    <button class="previous- safe- button">Safety</button>
    <button>Current</button>
    <button class="next- danger- button">Caution</button>
</p>
<p>
    <button class="previous- safe- button is-disabled">Safety</button>
    <button class="next- danger- button is-disabled">Caution</button>
    <button class="next- primary- button is-disabled">Next</button>
</p>
<p>
    <button class="x-small- previous- button">Back</button>
    <button class="x-small- next- button">Forward</button>
</p>
<p>
    <button class="small- previous- button">Back</button>
    <button class="small- next- button">Forward</button>
</p>
<p>
    <button class="medium- previous- button">Back</button>
    <button class="medium- next- button">Forward</button>
</p>
<p>
    <button class="large- previous- button">Back</button>
    <button class="large- next- button">Forward</button>
</p>
<p>
    <button class="x-large- previous- button">Back</button>
    <button class="x-large- next- button">Forward</button>
</p>
