<center>
    View in Styleboard and set display width
    to 320px to see buttons collapse
</center>
<p>
    <button class="iconic- button">
        <i class="reload- glyph"></i>
    </button>
    <button class="iconic- button">
        <i class="app-center- glyph"></i><span class="button-text">App Center</span>
    </button>
    <button class="iconic- button">
        <span class="button-text">Now Playing</span><i class="right- glyph"></i>
    </button>
</p>
<p>
    <button class="x-small- collapsible- iconic- button">
        <i class="move- glyph"></i><span class="button-text">Move</span>
    </button>
    <button class="small- collapsible- iconic- button">
        <i class="move- glyph"></i><span class="button-text">Move</span>
    </button>
    <button class="medium- collapsible- iconic- button">
        <i class="move- glyph"></i><span class="button-text">Move</span>
    </button>
    <button class="large- collapsible- iconic- button">
        <i class="move- glyph"></i><span class="button-text">Move</span>
    </button>
    <button class="x-large- collapsible- iconic- button">
        <i class="move- glyph"></i><span class="button-text">Move</span>
    </button>
</p>
<p>
    <button class="x-small- collapsible- iconic- primary- button">
        <span class="button-text">Settings</span><i class="gear- glyph"></i>
    </button>
    <button class="small- collapsible- iconic- primary- button">
        <span class="button-text">Settings</span><i class="gear- glyph"></i>
    </button>
    <button class="medium- collapsible- iconic- primary- button">
        <span class="button-text">Settings</span><i class="gear- glyph"></i>
    </button>
    <button class="large- collapsible- iconic- primary- button">
        <span class="button-text">Settings</span><i class="gear- glyph"></i>
    </button>
    <button class="x-large- collapsible- iconic- primary- button">
        <span class="button-text">Settings</span><i class="gear- glyph"></i>
    </button>
</p>
