<section class="typography">
    <p><%= s.0 %>
        <button class="inline- button">Button</button>
        <%= s.1 %>
        <a class="inline- button">Anchor</a>
        <%= phr.2 %>
        <button class="inline- iconic- danger- button">
            <i class="star- glyph"></i>
            <span class="button-text">Three</span>
        </button>
        <button class="inline- button">Different</button>
        <a class="inline- primary- button">Buttons</a>
        <%= s.3 %>
    </p>
    <div style="text-align:right">
        <a class="link- button">Cancel</a>
        <button class="primary- button">Done</button>
    </div>
</section>
