<p>
    <button class="link- button">Link</button>
    <button class="link- button is-hovered">Hover</button>
    <button class="link- button is-active">Active</button>
    <button class="link- button is-disabled">Disabled</button>
</p>
<p>
    <button class="link- danger- button">Danger Link</button>
    <button class="link- danger- button is-hovered">Hover</button>
    <button class="link- danger- button is-active">Active</button>
    <button class="link- danger- button is-disabled">Disabled</button>
</p>
<p>
    <button class="link- safe- button">Safe Link</button>
    <button class="link- safe- button is-hovered">Hover</button>
    <button class="link- safe- button is-active">Active</button>
    <button class="link- safe- button is-disabled">Disabled</button>
</p>
<p>
    <button class="link- primary- button">Primary Link</button>
    <button class="link- primary- button is-hovered">Hover</button>
    <button class="link- primary- button is-active">Active</button>
    <button class="link- primary- button is-disabled">Disabled</button>
</p>
