<p>
    <button class="previous- button is-loading">Previous</button>
    <button class="button is-loading">Button</button>
    <button class="next- button is-loading">Next</button>
</p>
<p>
    <button class="previous- primary- button is-loading">Previous</button>
    <button class="primary- button is-loading">Primary</button>
    <button class="next- primary- button is-loading">Next</button>
</p>
<p>
    <button class="previous- danger- button is-loading">Previous</button>
    <button class="danger- button is-loading">Danger</button>
    <button class="next- danger- button is-loading">Next</button>
</p>
<p>
    <button class="previous- safe- button is-loading">Previous</button>
    <button class="safe- button is-loading">Safe</button>
    <button class="next- safe- button is-loading">Next</button>
</p>
