<p>
    <button>
        <span class="button-text">This text is too long to fit in this button</span>
    </button>
</p>
<p>
    <button class="multiline- button">
        <span class="button-text">So we can make it a multiline button
            and add as much text as we'd like.</span>
        </button>
</p>
<p>
    <button class="primary- button">
        <span class="button-text">The primary button font is larger</span>
    </button>
</p>
<p>
    <button class="multiline- primary- button">
        <span class="button-text">But when we wrap the text, it still aligns
            with standard buttons.
        </span>
    </button>
</p>
<style>
button { width: 16em; }
</style>
