<div modal-new="modal-confirmation" class="hub-launch-password-dialog hub-modal-container">
    <section class="dialog-container set-app-password" ng-controller="LaunchPasswordController as ctrl">
        <header class="dialog-header">
            <h3 class="modal-title">{{:: 'app.launchPassword.heading' | i18n}}</h3>
        </header>
        <div class="dialog-body">
            <p class="modal-content-text">{{:: 'app.launchPassword.view.instruction' | i18n:app.name}}</p>
            <p class="error-text">{{ctrl.errMsg}}</p>
            <input type="text" placeholder="{{ ::'hub.placeholder.changepassword.username' | i18n }}" ng-model="ctrl.userName" disabled>
            <input type="password"  placeholder="{{ ::'hub.placeholder.changepassword.password' | i18n }}" ng-keypress="ctrl.handleEnter($event)" ng-model="ctrl.pwd" required/>
        </div>
        <footer class="dialog-actions two-action">
            <button class="button-action secondary-action modal-button-secondary" ng-click="ctrl.handleCancel();">{{:: 'button.cancel' | i18n }}</button>
            <button class="button-action primary-action modal-button-primary" ng-click="ctrl.getLaunchUrls();" tabindex="0" ng-disabled="!ctrl.pwd"> {{:: 'app.launchPassword.button.label.signin' | i18n }} </button>
        </footer>
    </section>
</div>
