<div modal-new="modal-confirmation" class="hub-modal-container hub-setapp-password-dialog">
    <section class="dialog-container" ng-controller="SetAppPasswordController as ctrl">
        <form name="appAuthForm">
            <header class="dialog-header">
                <h3 class="modal-title">{{:: 'app.setAppPassword.heading' | i18n:ctrl.app.name}}</h3>
            </header>
            <div class="dialog-body">
                <p class="modal-content-text">{{:: "app.setAppPassword.instruction" | i18n}}</p>
                <p class="error-text" ng-show="appAuthForm.$error.unique">{{ "app.setAppPassword.error.passwordsNoMatch" | i18n}}</p>
                <input id="password1" type="password"
                   placeholder="{{ ::'hub.placeholder.changepassword.password' | i18n }}"
                   ng-minlength="3"
                   ng-model="ctrl.password1"
                   disable-copy-paste
                   required />
                <input id="password2" type="password"
                   placeholder="{{ ::'hub.placeholder.changepassword.confirmpassword' | i18n }}"
                   ng-minlength="3"
                   ng-model="ctrl.password2"
                   disable-copy-paste
                   required />
            </div>
            <footer class="dialog-actions two-action">
                <button class="button-action secondary-action modal-button-secondary" ng-click="ctrl.handleCancel();">{{:: 'button.cancel' | i18n }}</button>
                <button class="button-action save-button primary-action modal-button-primary" ng-click="ctrl.setAppPassword($event)" ng-disabled="appAuthForm.$invalid"> {{:: 'button.save' | i18n }}</button>
            </footer>
        </form>
    </section>
</div>
