<p>
    Symbols can be preloaded into the DOM
    <svg symbol="circle.svg" />
    or loaded dynamically on first reference
    <svg symbol="components/symbol/examples/square.svg" />
</p>
<p style="font-size: 20px">
    <svg symbol="components/symbol/examples/plus.svg" />
    <svg symbol="components/symbol/examples/grid.svg" />
</p>

<!-- the symbol can be defined anywhere in the DOM: -->
<svg style="display: none">
    <defs>
        <symbol id="svg-symbol-circle" viewBox="0 0 100 100">
            <circle cx="50" cy="50" r="45"/>
        </symbol>
    </defs>
</svg>
