<div modal-new="modal-mdm-error" class="modal-mdm-error">
    <section class="dialog-container">
        <div class="dialog-body">
            <svg class="modal-mdm-error-icon" svg-symbol="icon-warning-big"></svg>
            <p>{{ ::'appCenter.mdm.device.error' | i18n }}</p>
            <p>{{ ::'appCenter.mdm.device.error.contact' | i18n}}</p>
            <button class="button-action primary-action mdm-signout-button" ng-click="$modal.close()">
                {{ ::'userInfo.signout' | i18n }}
            </button>
        </div>
    </section>
</div>