<div modal-new="modal-confirmation">
    <section class="dialog-container set-app-password" ng-controller="SetAppPasswordController as ctrl">
        <header class="dialog-header">
            <svg svg-symbol="icon-notify-info" class="icon-appinstall-confirm"/>
            <div class="item-caption-title">
                <h1>{{'app.setAppPassword.heading' | i18n:ctrl.app.name}}</h1>
            </div>
        </header>
        <form name="appAuthForm">
            <div class="dialog-body">
                <div>
                    <p>{{ "app.setAppPassword.instruction" | i18n}}</p>
                </div>
                <div class="error-text" ng-show="appAuthForm.$error.unique">{{ "app.setAppPassword.error.passwordsNoMatch" | i18n}}</div>
                <fieldset class="fieldset">
                    <div class="field-div">
                        <p>{{:: 'app.setAppPassword.label.password' | i18n}}</p>
                        <input class="input-password-field input-large"
                               id="password1"
                               type="password"
                               ng-minlength="3"
                               ng-model="ctrl.password1"
                               disable-copy-paste
                               required />
                    </div>
                    <div class="field-div">
                        <p>{{'app.setAppPassword.label.confirmPassword' | i18n }}</p>
                        <input class="input-password-field input-large"
                               id="password2"
                               type="password"
                               ng-minlength="3"
                               ng-model="ctrl.password2"
                               disable-copy-paste
                               required />
                    </div>
                </fieldset>
            </div>
            <footer class="dialog-actions two-action">
                <button class="button-action secondary-action" ng-click="$modal.close()">{{'button.cancel' | i18n }}</button>
                <button class="button-action save-button primary-action" ng-click="ctrl.setAppPassword($event)" ng-disabled="appAuthForm.$invalid"> {{'button.save' | i18n }}</button>
            </footer>
        </form>
    </section>
    <svg svg-symbol="icon-close-popup" class="modal-popup-close-icon" ng-click="$modal.close()"></svg>
</div>
