<div class="empty-devices-message-desktopapp" ng-if="devicesCtrl.devices.length < 1 && !devicesCtrl.isLoading">
    <ng-include src="'app-v2/svgincludes/illo-empty-device.html'"></ng-include>
    <p>{{::'app.devices.emptyDeviceListMessage' | i18n}}</p>
</div>
<ul class="device-list-desktopapp" ng-if="devicesCtrl.devices.length > 0 && !devicesCtrl.isLoading">
    <li ng-repeat="device in devicesCtrl.devices track by $index" ng-class="device.osFamily">
        <p class="device-icon-name">
            <ng-include src="device.iconfilename" class="device-icon"></ng-include>
            <span class="device-name">{{::device.machineName}}</span>
        </p>
        <p class="device-heading-time"> {{::'app.devices.tableColumn.lastLoginTime' | i18n}}</p>
        <p class="last-login-time">
            <span class="login-date-time">{{::device.lastLoginTime | date:'medium'}}</span>
        </p>
        <p class="unlink-device" ng-show="device.osFamily == 'Windows'">
            <a class="unlink-device-link" ng-click="devicesCtrl.unlinkDevice(device, $event)">
                {{'app.devices.unlinkDevice' | i18n }}
            </a>
        </p>
    </li>
</ul>
