<div class="settings-detail-content-container modal-changepassword mobile" ng-controller="ChangePasswordController as cpCtrl">
    <div class="settings-detail-mobile-header">
        <div class="settings-back" id="pt-support-password-button"
             ng-click="::supportCtrl.dismissSupportDetail();cpCtrl.closePasswordForm()">
            <svg svg-symbol="icon-page-back" class="icon-page-back"></svg>
        </div>
        <h2>{{::'app.changePassword.title' | i18n}}</h2>
        <button class="support-header-button primary password-save-button" ng-click="cpCtrl.changePasswordConfirm($event)" ng-disabled="changePasswordForm.$invalid">{{:: 'button.save' | i18n }}</button>
    </div>
    <div class="settings-detail-content-scrollable">
        <div class="password-container support-changepassword">
            <form name="changePasswordForm" novalidate>
                <div class="error-messages">
                    <svg ng-show="cpCtrl.showErrors || cpCtrl.errorMessage" class="icon-password-error" svg-symbol="icon-notify-error"></svg>
                    <span class="server-errors" ng-show="cpCtrl.showErrors" ng-repeat="error in cpCtrl.errorMessages">{{ error.description }}&nbsp;</span>
                    <span class="mismatch-error" ng-show="cpCtrl.errorMessage">{{cpCtrl.errorMessage}}</span>
                </div>
                <div class="input-placeholder-animate">
                    <input class="input-password-field"
                           id="pt-mobile-password-input"
                           type="{{cpCtrl.currentInputType}}"
                           ng-model="cpCtrl.currentPassword"
                           required
                           disable-copy-paste />
                    <label>{{:: 'app.passwordPolicy.label.currentpassword' | i18n}}</label>
                    <button ng-show="cpCtrl.currentPassword" class="reveal-password-button" ng-click="cpCtrl.togglePassword('current')">
                        <svg ng-if="!cpCtrl.showCurrentPassword" svg-symbol="icon-show-password"></svg>
                        <svg ng-if="cpCtrl.showCurrentPassword" svg-symbol="icon-hide-password"></svg>
                    </button>
                </div>
                <div class="input-placeholder-animate">
                    <input class="input-password-field"
                           ng-class="{'error' : cpCtrl.errorMessage}"
                           type="{{cpCtrl.newInputType1}}"
                           ng-model="cpCtrl.newPassword"
                           required
                           disable-copy-paste />
                    <label>{{:: 'app.passwordPolicy.label.newpassword' | i18n}}</label>
                    <button ng-show="cpCtrl.newPassword" class="reveal-password-button" ng-click="cpCtrl.togglePassword('new1')">
                        <svg ng-if="!cpCtrl.showNewPassword1" svg-symbol="icon-show-password"></svg>
                        <svg ng-if="cpCtrl.showNewPassword1" svg-symbol="icon-hide-password"></svg>
                    </button>
                </div>
                <div class="input-placeholder-animate">
                    <input class="input-password-field"
                           ng-class="{'error' : cpCtrl.errorMessage}"
                           type="{{cpCtrl.newInputType2}}"
                           ng-model="cpCtrl.confirmNewPassword"
                           required
                           disable-copy-paste />
                    <label>{{:: 'app.passwordPolicy.label.confirmpassword' | i18n}}</label>
                    <button ng-show="cpCtrl.confirmNewPassword" class="reveal-password-button" ng-click="cpCtrl.togglePassword('new2')">
                        <svg ng-if="!cpCtrl.showNewPassword2" svg-symbol="icon-show-password"></svg>
                        <svg ng-if="cpCtrl.showNewPassword2" svg-symbol="icon-hide-password"></svg>
                    </button>
                </div>
            </form>
        </div>
        <div ng-show="cpCtrl.policies" class="policy-container-mobile">
            <div class="password-policy">
                <p class="password-requirement-title">{{:: 'app.passwordPolicy.passwordRequirements' | i18n}}</p>
                <p ng-bind-html="cpCtrl.policyString"></p>
            </div>
        </div>
    </div>
</div>
