<div modal-new="modal-confirmation">
    <section class="dialog-container set-app-password" ng-controller="PasswordVaultAppCredentialsController as ctrl">
        <header class="dialog-header">
            <svg svg-symbol="icon-notify-info" class="icon-appinstall-confirm"/>
            <div class="item-caption-title">
                <h1>{{'pvapp.setAppPassword.heading' | i18n:ctrl.app.name}}</h1>
            </div>
        </header>
        <form name="appAuthForm">
            <div class="dialog-body">
                <div>
                    <p>{{ "pvapp.setAppPassword.instruction" | i18n}}</p>
                </div>
                <div class="error-text" ng-show="appAuthForm.$error.username">{{ "pvapp.setAppPassword.error.userNameEmpty" | i18n}}</div>
                <div class="error-text" ng-show="appAuthForm.$error.password">{{ "pvapp.setAppPassword.error.passwordEmpty" | i18n}}</div>
                <fieldset class="fieldset">
                    <div class="field-div" ng-if="ctrl.showUserName">
                        <p>{{:: 'pvapp.setAppPassword.label.username' | i18n}}</p>
                        <input class="input-password-field input-large" id="username" type="text" ng-minlength="3" ng-model="ctrl.username">
                    </div>
                    <div class="field-div" ng-if="ctrl.showPassword">
                        <p>{{:: 'pvapp.setAppPassword.label.password' | i18n}}</p>
                        <input class="input-password-field input-large" id="password" type="password" ng-model="ctrl.password">
                        <a class="detailLink" id="clearTextPassword" ng-click="ctrl.toggleShowClearTextPassword()">
                            <svg svg-symbol="icon-show-password-blue"></svg>
                        </a>
                        <a class="detailLink" id="copyPasswordToClipboard" ng-click="ctrl.copyPasswordToClipboard()">
                            <svg svg-symbol="icon-clipboard"></svg>
                        </a>
                    </div>
                </fieldset>
            </div>
            <footer class="dialog-actions two-action">
                <button class="button-action secondary-action" ng-click="$modal.close()">{{'button.cancel' | i18n }}</button>
                <button class="button-action save-button primary-action" ng-click="ctrl.setPVAppCredentials($event)"> {{'button.save' | i18n }}</button>
            </footer>
        </form>
    </section>
    <svg svg-symbol="icon-close-popup" class="modal-popup-close-icon" ng-click="$modal.close()"></svg>
</div>
