<div modal>
    <div class="dialog centered-" ng-controller="InstallPasswordVaultExtensionController as ctrl">
        <div class="dialog-body typography">
            <div class="dialog-info-icon">
                <svg symbol="info"></svg>
            </div>
            <h3>{{'myapps.launch.openApp' | i18n:app.name}}</h3>
            <p ng-bind-html="ctrl.extensionDescription"></p>
            <p>
                <button class="link- button" ng-click="modal.close(true);">{{'button.cancel' | i18n }}</button>
                <button ng-click="ctrl.openApp();" class="primary- button">{{'button.openApp' | i18n }}</button>
            </p>
        </div>
    </div>
</div>