<div class="search-results-people">
    <div class="search-results-content">
    <!-- people search recent items section-->
     <div class="search-people-recent-container">
        <h2 class="section-headline-style2 people-search-headerline">
            <p class="preview-people-search-headerline preview-animating-bg"></p>
        </h2>
         <div ng-repeat="user in [1,2,3,4,5,6,7,8]" class="search-people-item">
             <div class="preview-search-people-item-avatar preview-animating-bg"></div>
             <p class="preview-search-people-item-name preview-animating-bg"></p>
             <p class="preview-search-people-item-title preview-animating-bg"></p>
         </div>
    </div>
</div>

