<div class="eight- grid">
    <p><%= p.0 %></p>
    <div class="four- box"><p><%= p.1 %></p></div>
    <div class="four- box"><p><%= p.2 %></p></div>
    <div class="two- box"><p><%= p.3 %></p></div>
    <div class="two- box"><p><%= p.4 %></p></div>
    <div class="one- box"><p><%= p.5 %></p></div>
    <div class="one- box"><p><%= p.6 %></p></div>
    <div class="one- box"><p><%= p.7 %></p></div>
    <div class="one- box"><p><%= p.8 %></p></div>
</div>
<!-- demo styles -->
<style>
  p { text-align: justify; }
  .box { height: 8em; }
  .box:hover { background-color: rgba(255,0,0,0.2); }
</style>
