<div class="ten- grid">
    <p class="two- left- box"><%= s.0 %></p>
    <p class="two- right- box"><%= s.1 %></p>
    <div class="remainder- box">
        <!-- up to the remaining (6) columns -->
        <div class="grid">
            <p class="three- box"><%= p.2 %></p>
            <p class="three- box"><%= p.3 %></p>
            <p><%= p.4 %></p>
        </div>
    </div>
</div>
<!-- demo styles -->
<style>
p { text-align: justify; }
.box:hover { background-color: rgba(255,0,0,0.2); }
</style>
