<section class="content-container app-list-browser">
    <div class="page-breadcrumb-bar"></div>
    <div class="content-container-scrollable">
        <div class="app-list-content">
            <div class="app-list-wrapper">
                <div ng-repeat="app in [1, 2, 3, 4, 5, 6, 7]" class="app-list-item">
                    <div class="preview-app-list-item-icon preview-animating-bg"></div>
                    <p class="preview-app-list-item-name preview-animating-bg"></p>
                    <p class="preview-app-list-item-type preview-animating-bg"></p>
                    <div class="app-list-item-actions">
                        <svg svg-symbol="icon-star" class="icon-preview-favorite"></svg>
                        <span class="preview-app-button preview-animating-bg"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

