<div modal-new="modal-alert">
    <section class="dialog-container">
        <header class="dialog-header" ng-show="title">
             <h2 ng-show="title">{{ title | i18n }}</h2>
        </header>
        <div class="dialog-body">
             <p ng-show="message">{{ message | i18n }}</p>
        </div>
        <footer class="dialog-actions one-action">
             <button class="button-action primary-action" ng-click="$modal.close()">{{ ok | i18n }}</button>
        </footer>
    </section>
</div>