<div modal-new class="mobile-fullscreen">
    <section class="dialog-container">
        <header class="dialog-title dialog-actions-top">
            <svg class="modal-popup-close-icon" svg-symbol="icon-close-popup"></svg>
            <div class="modal-dialog-progress-indicator-container"></div>
        </header>
        <section class="dialog-body">
            <ul rn-carousel class="dialog-mobile-fullscreen-list direct-enrollment-list">
                <li class="dialog-mobile-fullscreen-item">
                    <h2 class="dialog-mobile-fullscreen-title">Add a new device</h2>
                    <h3 class="dialog-mobile-fullscreen-subtitle"></h3>
                    <p class="dialog-mobile-fullscreen-description">How would you like to receive the code to activate Workspace ONE on a different device?</p>
                </li>

                <li class="dialog-mobile-fullscreen-item">
                    <h2 class="dialog-mobile-fullscreen-title">Enable Workspace Services</h2>
                    <h3 class="dialog-mobile-fullscreen-subtitle">Enroll this device to automatically receive</h3>
                    <p class="workspace-list-item">Direct installation for all corporate resources.</p>
                    <p class="workspace-list-item">Secured corporate network access.</p>
                    <p class="workspace-list-item">Syncronized apps and content on all of your devices.</p>
                    <p class="workspace-list-item">Enhanced app experience that will make you more productive.</p>
                </li>
            </ul>
        </section>
        <footer class="dialog-actions one-action mobile-fullscreen-enrollment">
            <button class="button-action" ng-click="modal.cancel()">
                SEND REQUEST
            </button>
        </footer>
    </section>
</div>