<div class="grid">
    <div class="grid-row">
        <div class="three- box">
            <div class="image"></div>image (sd- landscape-)
        </div>
        <div class="three- box">
            <div class="filled- image"></div>filled- image
        </div>
        <div class="three- box">
            <div class="contained- image"></div>contained- image
        </div>
        <div class="three- box">
            <div class="tiled- image"></div>tiled- image
        </div>
    </div>
    <div class="grid-row">
        <div class="three- box">
            <div class="square- image"></div>square- image
        </div>
        <div class="three- box">
            <div class="sd- image"></div>sd- image
        </div>
        <div class="three- box">
            <div class="hd- image"></div>hd- image
        </div>
        <div class="three- box">
            <div class="cinema- image"></div>cinema- image
        </div>
    </div>
    <div class="grid-row">
        <div class="three- box">
            <div class="portrait- image"></div>portrait- image
        </div>
        <div class="three- box">
            <div class="hd- portrait- image"></div>hd- portrait- image
        </div>
        <div class="three- box">
            <div class="cinema- portrait- image"></div>cinema- portrait- image
        </div>
    </div>
</div>

<style>
.image { background-image: url(graphics/tiger.svg); }
.image.tiled- { background-size: 50px; }
</style>
