<div ng-controller="PasswordVaultBannerController as passwordVaultBannerCtrl" class="passwordvault-banner" ng-if="appCenterCtrl.$state.current.activeTab == 'bookmarks' || appCenterCtrl.$state.current.activeTab == 'catalog'">
    <svg svg-symbol="icon-ws1-lockup" class="icon-ws1-pv"></svg>
    <p class="passwordvault-text">{{ ::'app.passwordVault.banner.msg' | i18n }}</p>
    <p class="passwordvault-text">{{ ::'app.passwordVault.banner.setPreference' | i18n}}</p>

    <label class="pv-option-text">
        <input type="checkbox" ng-model="passwordVaultBannerCtrl.pvsettings" value="donotSHOW" id="pt-donotshow" class="pv-settings-choice" ng-change="passwordVaultBannerCtrl.setPVBannerPreference()" />
        <span class="pv-banner-preference">{{ ::'app.passwordVault.banner.donotshowagain' | i18n}}</span>
    </label>
    <p class="actions-wrapper">
    <a class="button-action secondary-button" ng-click="close($index)">{{ ::'app.passwordVault.banner.button.later' | i18n}}</a>
    <a class="button-action primary-button" ng-click="passwordVaultBannerCtrl.installPasswordVaultPlugin()">{{ ::'app.passwordVault.banner.button.get' | i18n}}</a>
    </p>
</div>
