<div modal-new="modal-confirmation" class="modal-notification-new-apps">
    <section class="dialog-container" ng-controller="NewAppsNotificationController as ctrl">
        <header class="dialog-header">
            <h2>{{::'app.notification.newApps.title' | i18n}}</h2>
            <p class="new-apps-info"><span>{{::'app.notification.newApps.subtitle' | i18n}}</span></p>
            <svg svg-symbol="icon-close-popup" class="new-apps-modal-popup-close-icon" ng-click="$modal.close()"></svg>
        </header>
        <div class="dialog-body">
            <div class="catalog">
                <div catalog-item ng-repeat="app in ctrl.newApps" class="grid-item new-app" appdata="app" modalobj="$modal"></div>
                <!--Empty fillers to make sure that the last row aligns properly-->
                <div ng-repeat="item in ctrl.emptyCatalogModalFillers" class="grid-item-empty"></div>
            </div>
        </div>
        <footer class="dialog-actions two-action">
            <p class="thinapp-action-desc" line-clamp2 content="::ctrl.instruction" lines="2"></p>
            <div class="thinapps-buttons-container">
                <button class="setting-button primary-button bookmark-all-btn thinapp-bookmarkall-btn" ng-click="ctrl.bookmarkAll()">{{::'app.thinappsInPackage.button.bookmarkAll' | i18n}}</button>
            </div>
        </footer>
    </section>
</div>