<section class="category category-browser">
    <h2 class="section-headline-style2 left-nav-heading">{{::'hub.apps.categories' | i18n}}</h2>
    <ul class="category-default-items">
        <li class="category-list-item" ng-repeat="label in categoryCtrl.defaultLabel"
            title="{{label.name}}"
            ui-sref="apps.list({ type: '{{label.type}}' })" ui-sref-active="is-selected">
            <span>{{label.name}}</span>
        </li>
    </ul>
    <ul class="category-custom-items">
        <li class="category-list-item" ng-repeat="category in categoryCtrl.category"
            title="{{category.name}}"
            ui-sref="apps.list({ type: 'category', category: '{{category.name}}' })" ui-sref-active="is-selected">
            <span>{{category.name}}</span>
        </li>
    </ul>
</section>
<div class="category-bottom-scrim"></div>