<div modal class="headered- footered- modal medium-max-">
    <section class="dialog typography">
        <header class="dialog-header">
            <h3>{{ title }}</h3>
        </header>
        <div class="dialog-body">
            <p ng-bind-html="message"></p>
        </div>
        <footer class="dialog-actions">
            <button class="link- button installPrompt-action" ng-click="modal.cancel()">
                <span class="button-text">{{ 'appCenter.cancel' | i18n }}</span>
            </button>
            <button class="primary- button installPrompt-action" ng-click="modal.close(true)">
                <span class="button-text">{{ 'appCenter.install' | i18n }}</span>
            </button>
        </footer>
    </section>
</div>