<div modal class="headered- footered- modal medium-max-">
    <div class="change-password-popup" ng-controller="ChangePasswordController as ctrl">
        <section class="dialog">
            <form name="changePasswordForm" novalidate>
                <header class="dialog-header">
                    <div class="form-row lock-icon">
                        <svg symbol="lock"></svg>
                    </div>
                    <div class="form-row">
                        <h3>{{:: 'app.changePassword.title' | i18n}}</h3>
                    </div>
                </header>
                <section class="dialog-body">
                    <div class="form-fields-holder">
                        <p class="form-row form-label">{{:: 'app.changePassword.enterCurrentPassword' | i18n}}</p>
                        <input class="form-row input-field" type="password" autocapitalize="off" autocorrect="off" ng-model="ctrl.currentPassword" required>
                    </div>
                    <div class="form-fields-holder">
                        <p class="form-row form-label">{{:: 'app.changePassword.enterNewPassword' | i18n}}</p>
                        <input class="form-row input-field" type="password" autocapitalize="off" autocorrect="off" ng-model="ctrl.newPassword" required>
                    </div>
                    <div class="form-fields-holder">
                        <p class="form-row form-label">{{:: 'app.changePassword.repeatNewPassword' | i18n}}</p>
                        <input class="form-row input-field" type="password" autocapitalize="off" autocorrect="off" ng-model="ctrl.confirmNewPassword" required>
                    </div>
                    <p class="error-messages mismatch-error" ng-show="changePasswordForm.$error.unique">{{:: 'app.setAppPassword.error.passwordsNoMatch' | i18n}}</p>
                    <p class="error-messages" ng-show="ctrl.showErrors" ng-repeat="error in ctrl.errorMessages">{{error.description}}</p>
                </section>
                <footer class="dialog-actions">
                    <button class="link- button" ng-click="ctrl.closePasswordForm()">{{ 'button.close' | i18n }}</button>
                    <button class="primary- button" id="change-password-button" ng-click="ctrl.changePasswordConfirm($event)" ng-disabled="changePasswordForm.$invalid">{{:: 'app.changePassword.title' | i18n }}</button>
                </footer>
            </form>
        </section>
    </div>
</div>