<div ng-controller="ChangePasswordController as ctrl" class="password-page-mobile headered- view- frame theme-portal-background">
        <div class="frame-header">
            <div class="theme-portal-masthead">
                <div class="mobile- masthead">
                    <div class="masthead-left">
                        <a class="iconic- link- button" ng-click="::appCenterCtrl.backAction()">
                            <svg symbol="mobile-back-arrow"></svg>
                        </a>
                    </div>
                    <div class="masthead-center">
                        <h3>{{:: 'app.changePassword.title' | i18n }}</h3>
                    </div>
                    <div class="masthead-right">
                        <button class="iconic- link- button password-save-button" ng-click="::ctrl.changePasswordConfirm($event)" ng-disabled="changePasswordForm.$invalid">
                            <span>{{::'button.save' | i18n}}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    <div class="vertically- scrollable- backdrop- pane">
        <div class="page">
            <article>
                <section class="input-fields-container">
                    <div class="error-messages">
                        <svg ng-show="ctrl.showErrors || ctrl.errorMessage" class="warning-ico" symbol="warning"></svg>
                        <div>
                            <span class="server-errors" ng-show="ctrl.showErrors" ng-repeat="error in ctrl.errorMessages">{{ error.description }}&nbsp;</span>
                            <span class="mismatch-error" ng-show="ctrl.errorMessage">{{ctrl.errorMessage}}</span>
                        </div>
                    </div>
                    <form name="changePasswordForm" novalidate>
                        <div class="input-field-holder">
                            <input type="password" class="input-field" ng-model="ctrl.currentPassword" placeholder="{{:: 'app.changePassword.enterCurrentPassword' | i18n}}" required>
                        </div>
                        <div class="input-field-holder new-password-label">
                            <p>NEW</p>
                        </div>
                        <div class="input-field-holder">
                            <input type="password" class="input-field" ng-class="{'error' : ctrl.errorMessage}" ng-model="ctrl.newPassword" placeholder="{{:: 'app.changePassword.enterNewPassword' | i18n}}" required>
                        </div>
                        <div class="input-field-holder">
                            <input type="password" class="input-field" ng-class="{'error' : ctrl.errorMessage}" ng-model="ctrl.confirmNewPassword" placeholder="{{:: 'app.changePassword.confirmNewPassword' | i18n}}" required>
                        </div>
                    </form>
                </section>
                <div ng-show="ctrl.policies" class="policy-container">
                    <div class="password-policy">
                        <p>{{:: 'app.passwordPolicy.passwordRequirements' | i18n}}</p>
                        <p ng-bind-html="ctrl.policyString"></p>
                    </div>
                </div>
            </article>
        </div>
    </div>
    <div spinner ng-show="ctrl.isLoading"></div>
</div>