<div ng-controller="PasswordVaultBannerController as passwordVaultBannerCtrl" class="message" ng-class="message.type + '-'">
    <button class="close- button" ng-click="close($index)"></button>
    <div class="message-body typography passwordvault-banner">
        <p>
            <svg symbol="info"></svg>
            {{ ::'app.passwordVault.banner.msg' | i18n }}
            <a class="button small-" href="javascript:;" ng-click="passwordVaultBannerCtrl.installPasswordVaultPlugin()">{{ ::'app.passwordVault.banner.button.install' | i18n }}</a>
        </p>
    </div>
</div>
