<div class="pane">
    <ul class="primary- tabs">
        <li><a>One</a>
        </li><li class="is-active"><a>Two</a>
        </li><li><a>Three</a></li></ul>
    <ul class="secondary- tabs">
        <li><a>Cat</a>
        </li><li><a>Dog</a>
        </li><li class="is-active"><a>Lizard</a></li></ul>
    <div class="typography">
        <h2><%= h %></h2>
        <ul class="tertiary- tabs">
            <li><a>Red</a>
            </li><li><a>Blue</a>
            </li><li class="is-active"><a>Green</a></li></ul>
    </div>
</div>
