<div class="notify-message-container" ng-class="message.type">
    <div class="message-body">
        <div class="message-icon" ng-if="message.type != 'progress'">
            <svg svg-symbol="icon-notify-{{message.type}}"></svg>
        </div>
        <button ng-show="message.type === 'info' || message.type === 'error'" class="notify-close-button" ng-click="close($index)">
            <svg svg-symbol="icon-notify-close"></svg>
        </button>
        <p class="message-text">{{message.text}}</p>
    </div>
</div>