<p>Left-to-Right (default):</p>
<ul class="actions">
    <li><button class="primary- button">One</button></li>
    <li><button class="button">Two</button></li>
    <li><button class="link- button">Three</button></li>
</ul>

<p>Right-to-Left:</p>
<ul class="right-to-left- actions">
    <li><button class="primary- button">One</button></li>
    <li><button class="button">Two</button></li>
    <li><button class="link- button">Three</button></li>
</ul>

<p>Top-to-Bottom:</p>
<ul class="top-to-bottom- actions">
    <li><button class="primary- button">One</button></li>
    <li><button class="button">Two</button></li>
    <li><button class="link- button">Three</button></li>
</ul>
