<div class="search-results">
    <div id="search-container" class="search-results-content">
        <div class="section-headline-style2 preview-app-search-header preview-animating-bg"></div>
        <div class="preview-app-search-section-header preview-animating-bg"></div>
        <div ng-repeat="app in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" class="preview-app-search-item" >
            <div class="preview-app-search-item-icon preview-animating-bg"></div>
            <p class="preview-app-search-item-name preview-animating-bg"></p>
            <p class="preview-app-search-item-type preview-animating-bg"></p>
            <div class="search-item-actions">
                <svg svg-symbol="icon-star" class="icon-preview-favorite"></svg>
                <span class="preview-app-button preview-animating-bg"></span>
            </div>
        </div>
    </div>
</div>
