// People grid variables
// ---------------------------------------
@gb-appmodule-item-no-s: 3;
@gb-appmodule-item-no-m: 4;
@gb-appmodule-item-no-l: 5;
@gb-appmodule-item-no-xl: 6;

@gb-appmodule-item-margin-h: 6px; // Horizontal margin
@gb-appmodule-item-margin-v: 6px; // Vertical margin

@gb-appmodule-item-width-s: 88px;
@gb-appmodule-item-height-s: 140px;
@gb-appmodule-item-width-m: 102px;
@gb-appmodule-item-height-m: 160px;

@gb-appmodule-item-width-m2: 112px;

@placeholder-border-color: #333;

@grid-favorite-edit-mode-margin-s: 10px;
@grid-favorite-edit-mode-margin-m: 16px;
@grid-favorite-edit-mode-margin-l: 24px;

// People grid variables
// ---------------------------------------
@gb-people-item-no-s: 3;
@gb-people-item-no-m: 4;
@gb-people-item-no-l: 5;
@gb-people-item-no-xl: 6;
@gb-people-item-no-xxl: 7;
@gb-people-item-no-xxxl: 8;

@gb-people-item-margin-h: 10px; // Horizontal margin
@gb-people-item-margin-v: 16px; // Vertical margin

@gb-people-item-width-s: 88px;
@gb-people-item-height-s: 120px;
@gb-people-item-width-m: 120px;
@gb-people-item-height-m: 180px;

// MIXINS for the grids
// ---------------------------------------

// For desktopapp, we always have the the category on the left
.set-grid-item-flexible-width(@number-of-items, @grid-item-margin-x, @grid-item-margin-y) {
    @margin-all: ((@number-of-items + 1) * @grid-item-margin-x * 2 );
    @flex-width: ~ "calc((100% - @{margin-all})/ @{number-of-items})";
    width: @flex-width;
    margin: @grid-item-margin-y @grid-item-margin-x;
}

.set-grid-item-flexible-margin(@number-of-items, @item-width, @grid-item-margin-y) {
    @width-all-tiles: (@item-width * @number-of-items);
    @margin-no: @number-of-items * 2 + 2;
    @flex-margin: ~ "calc((100% - @{width-all-tiles})/ @{margin-no})";
    margin: @grid-item-margin-y @flex-margin;
}

.grid-container {
    width: 100%;
    font-size: 0; /*!important, please make sure to define font-size on grid-item immediate parent*/
    padding: 0;
    text-align: center;
}

.grid-item, .grid-item-empty {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    position: relative;
}

// Grid for the apps landing page, define the base grid structure
.apps-module-content {
    .grid-item {
        width: @gb-appmodule-item-width-m; //Fallback width in calc does not work
        min-height: @gb-appmodule-item-height-m;
        height: auto;
        .set-grid-item-flexible-margin(@gb-appmodule-item-no-s, @gb-appmodule-item-width-m, @gb-appmodule-item-margin-v);

        @media (min-width: @tabletS) {
            width: @gb-appmodule-item-width-m;
            .set-grid-item-flexible-margin(@gb-appmodule-item-no-m, @gb-appmodule-item-width-m, @gb-appmodule-item-margin-v);
        }

        @media (min-width: 920px) {
            .set-grid-item-flexible-margin(@gb-appmodule-item-no-l, @gb-appmodule-item-width-m, @gb-appmodule-item-margin-v);
        }

        @media (min-width: @content-max-width) {
            .set-grid-item-flexible-margin(@gb-appmodule-item-no-xl, @gb-appmodule-item-width-m, @gb-appmodule-item-margin-v);
        }
    }

    .grid-item-empty {
        width: @gb-appmodule-item-width-m; // Fallback width;
        height: 0;
        .set-grid-item-flexible-margin(@gb-appmodule-item-no-s, @gb-appmodule-item-width-m, 0);

        @media (min-width: @tabletS) {
            width: @gb-appmodule-item-width-m;
            .set-grid-item-flexible-margin(@gb-appmodule-item-no-m, @gb-appmodule-item-width-m, @gb-appmodule-item-margin-v);
        }

        @media (min-width: 920px) {
            .set-grid-item-flexible-margin(@gb-appmodule-item-no-l, @gb-appmodule-item-width-m, @gb-appmodule-item-margin-v);
        }

        @media (min-width: @content-max-width) {
            .set-grid-item-flexible-margin(@gb-appmodule-item-no-xl, @gb-appmodule-item-width-m, @gb-appmodule-item-margin-v);
        }
    }
}

.app-favorites-edit {
    .grid-container {
        padding: 36px 0 16px;
    }

    .sort-placeholder {
        background: @white;
        vertical-align: top;
        opacity: 0.4;
        // Must define inline-block as app-item a angular tag not an html tag which does not have display property
        // Without defining it the placeholder WILL NOT SHOW
        display: inline-block;
        border: 1px dashed @placeholder-border-color;
    }

    .grid-item, .sort-placeholder {
        width: @gb-appmodule-item-width-m2;
        height: @gb-appmodule-item-height-m - 10px;
        margin: 24px;
    }

    .grid-item-empty {
        width: @gb-appmodule-item-width-m2;
        height: 0;
        margin: 0 24px;
    }
}

// People Grid
// ---------------------------------------
.people {
    .grid-item {
        width: @gb-people-item-width-s; //Fallback width in calc does not work
        min-height: @gb-people-item-height-s;
        height: auto;
        .set-grid-item-flexible-width(@gb-people-item-no-s, @gb-people-item-margin-h, @gb-people-item-margin-v);

        @media (min-width: @phoneM) {
            width: @gb-people-item-width-m;
            margin: @gb-people-item-margin-h; //Fallback margin in case calc does not work
            .set-grid-item-flexible-margin(@gb-people-item-no-s, @gb-people-item-width-m, @gb-people-item-margin-v);
        }
        // Make this a little large solely based on the fit of the number of items
        @media (min-width: @phoneL + 20px) {
            width: @gb-people-item-width-m;
            margin: @gb-people-item-margin-h;
            .set-grid-item-flexible-margin(@gb-people-item-no-m, @gb-people-item-width-m, @gb-people-item-margin-v);
        }

        @media (min-width: 680px) {
            width: @gb-people-item-width-m;
            margin: @gb-people-item-margin-h;
            .set-grid-item-flexible-margin(@gb-people-item-no-l, @gb-people-item-width-m, @gb-people-item-margin-v);
        }

        @media (min-width: @tabletS) {
            width: @gb-people-item-width-m;
            margin: @gb-people-item-margin-v 20px;
        }
    }

    .grid-item-empty {
        width: @gb-people-item-width-s; // Fallback width;
        height: 0;
        .set-grid-item-flexible-width(@gb-people-item-no-s, @gb-people-item-margin-h, 0);

        @media (min-width: @phoneM) {
            width: @gb-people-item-width-m;
            margin: @gb-people-item-margin-h; //Fallback margin in case calc does not work
            .set-grid-item-flexible-margin(@gb-people-item-no-s, @gb-people-item-width-m, 0);
        }
        // Make this a little large solely based on the fit of the number of items
        @media (min-width: @phoneL + 20px) {
            width: @gb-people-item-width-m;
            margin: @gb-people-item-margin-h;
            .set-grid-item-flexible-margin(@gb-people-item-no-m, @gb-people-item-width-m, 0);
        }

        @media (min-width: 680px) {
            width: @gb-people-item-width-m;
            margin: @gb-people-item-margin-h;
            .set-grid-item-flexible-margin(@gb-people-item-no-l, @gb-people-item-width-m, @gb-people-item-margin-v);
        }

        @media (min-width: @tabletS) {
            width: @gb-people-item-width-m;
            margin: @gb-people-item-margin-v 20px;
        }
    }
}