<div modal>
    <div class="dialog centered-" ng-controller="LaunchPasswordController as ctrl">
        <div class="dialog-body typography launch-password-dialog" ng-class="{fade: ctrl.processing}">
            <div spinner class="spinner" ng-show="ctrl.processing"></div>
            <h3>{{'app.launchPassword.heading' | i18n}}</h3>
            <p>
                {{'app.launchPassword.view.instruction' | i18n:app.name}}
            </p>
            <div class="error-messages">
                {{ctrl.errMsg}}
            </div>
            <div>
                <div class="centered- list">
                    <div class="form-fields-holder">
                        <input type="text" ng-model="ctrl.userName" class="input-field" disabled>
                    </div>
                    <div class="form-fields-holder">
                        <input type="password" ng-model="ctrl.pwd" placeholder="{{'app.launchPassword.label.password' | i18n}}" class="input-field password-field" ng-keypress="ctrl.handleEnter($event)">
                    </div>
                </div>
            </div>
            <p>
                <button class="link- button" ng-click="ctrl.handleCancel();">{{'button.cancel' | i18n }}</button>
                <button ng-click="ctrl.getLaunchUrls();" class="primary- button" tabindex="0" ng-disabled="ctrl.pwd == ''"> {{'app.launchPassword.button.label.signin' | i18n }}</button>
            </p>
        </div>
    </div>
</div>
