<div modal-new="modal-confirmation" class="launch-client-download-dialog">
    <section class="dialog-container">
        <header class="dialog-header">
            <svg svg-symbol="icon-notify-info" class="icon-appinstall-confirm"></svg>
            <h3>{{ ::title }}</h3>
            <svg svg-symbol="icon-close-popup" class="modal-popup-close-icon" ng-click="$modal.close()"></svg>
        </header>
        <div class="dialog-body">
            <p ng-bind-html="message">{{ message | i18n }}</p>
        </div>
        <footer class="dialog-actions two-action">
            <button class="button-action secondary-action launch-client-download-dialog-cancel-btn" ng-click="$modal.close()">{{ ::'appCenter.cancel' | i18n }}</button>
            <button class="button-action primary-action launch-client-download-dialog-launch-btn" ng-click="appCenterCtrl.virtualClientAppInstalled(app);">{{ ::'myapps.launch.title.launch' | i18n }}</button>
        </footer>
    </section>
</div>
