<div modal-new="modal-confirmation" class="launch-password-dialog">
    <section class="dialog-container set-app-password" ng-controller="LaunchPasswordController as ctrl">
        <header class="dialog-header">
            <svg svg-symbol="icon-notify-info" class="icon-appinstall-confirm"/>
            <h2>{{'app.launchPassword.heading' | i18n}}</h2>
        </header>
            <div class="dialog-body">
            <div>
                <p>{{'app.launchPassword.view.instruction' | i18n:app.name}}</p>
            </div>
            <div class="error-text">{{ctrl.errMsg}}</div>
            <fieldset class="fieldset">
                <div class="field-div">
                    <p><p>{{:: 'userInfo.profile.username' | i18n}}</p></p>
                    <input class="input-password-field input-large" type="text" ng-model="ctrl.userName" disabled>
                </div>
                <div class="field-div">
                    <p>{{'userInfo.profile.password' | i18n }}</p>
                    <input class="input-password-field input-large" type="password" ng-keypress="ctrl.handleEnter($event)" ng-model="ctrl.pwd" required/>
                </div>
            </fieldset>
            </div>
            <footer class="dialog-actions two-action">
                <button class="button-action secondary-action launch-password-cancel-btn" ng-click="ctrl.handleCancel();">{{'button.cancel' | i18n }}</button>
                <button class="button-action primary-action launch-password-signin-btn" ng-click="ctrl.getLaunchUrls();" tabindex="0" ng-disabled="ctrl.pwd == ''"> {{'app.launchPassword.button.label.signin' | i18n }} </button>
            </footer>
    </section>
</div>
