<div class="grid">
    <div class="two- box">
        <div class="highlighted- emblem">
            <a href="#"> <!-- surrounds the clickable area -->
                <div class="emblem-image"
                     style="background-image: url(components/emblem/examples/AirwatchBrowser.png)">
                </div>
                <h3 class="emblem-title"><%= h.1 %></h3>
                <span class="emblem-status"><%= phr.1 %></span>
            </a>
        </div>
    </div>
    <div class="two- box">
        <div class="emblem">
            <a href="#"> <!-- surrounds the clickable area -->
                <div class="emblem-image"
                     style="background-image: url(components/emblem/examples/BoxNet.gif)">
                </div>
                <h3 class="emblem-title"><%= h.2 %></h3>
                <span class="emblem-status"><%= phr.2 %></span>
            </a>
            <span class="emblem-flag"><%= w.2 %></span>
            <div class="emblem-favorite">
                <svg class="filled- symbol" symbol="components/rating/graphics/star.svg"></svg>
            </div>
            <div class="emblem-badge">
                <svg symbol="components/emblem/examples/virtual-app.svg"></svg>
            </div>
        </div>
    </div>

</div>
