<div class="password-change-container">
    <div ng-show="cpCtrl.isLoading" class="loading-app-details-container">
        <spinner-loading></spinner-loading>
    </div>
    <section class="masthead-mobile app-details-actions">
        <div class="masthead-mobile-left">
            <span class="app-details-close" ng-click="cpCtrl.nativeClose()">
                <svg svg-symbol="icon-close" class="icon-close"></svg>
            </span>
        </div>
    </section>
    <section class="content-container">
        <div class="content-container-scrollable">
            <div class="password-container support-changepassword content">
                <div class="headline">
                    <h2>{{::'app.changePassword.title' | i18n}}</h2>
                </div>
                <form name="changePasswordForm" novalidate>
                    <div class="error-messages">
                        <span class="error" ng-show="cpCtrl.showErrors"
                              ng-repeat="error in cpCtrl.errorMessages">{{ error.description }}&nbsp;</span>
                        <span class="error" ng-show="cpCtrl.errorMessage">{{cpCtrl.errorMessage}}</span>
                    </div>
                    <div class="input-placeholder-animate">
                        <input class="input-password-field" id="pt-mobile-password-input"
                               type="{{cpCtrl.currentInputType}}"
                               ng-model="cpCtrl.currentPassword"
                               disable-copy-paste
                               required />
                        <label>{{:: 'app.passwordPolicy.label.currentpassword' | i18n}}</label>
                        <button ng-show="cpCtrl.currentPassword" class="reveal-password-button"
                                ng-click="cpCtrl.togglePassword('current')">
                            <svg ng-if="!cpCtrl.showCurrentPassword" svg-symbol="icon-show-password"></svg>
                            <svg ng-if="cpCtrl.showCurrentPassword" svg-symbol="icon-hide-password"></svg>
                        </button>
                    </div>
                    <div class="input-placeholder-animate">
                        <input class="input-password-field" ng-class="{'error' : cpCtrl.errorMessage}"
                               type="{{cpCtrl.newInputType1}}"
                               ng-model="cpCtrl.newPassword"
                               disable-copy-paste
                               required />
                        <label>{{:: 'app.passwordPolicy.label.newpassword' | i18n}}</label>
                        <button ng-show="cpCtrl.newPassword" class="reveal-password-button"
                                ng-click="cpCtrl.togglePassword('new1')">
                            <svg ng-if="!cpCtrl.showNewPassword1" svg-symbol="icon-show-password"></svg>
                            <svg ng-if="cpCtrl.showNewPassword1" svg-symbol="icon-hide-password"></svg>
                        </button>
                    </div>
                    <div class="input-placeholder-animate">
                        <input class="input-password-field" ng-class="{'error' : cpCtrl.errorMessage}"
                               type="{{cpCtrl.newInputType2}}"
                               ng-model="cpCtrl.confirmNewPassword"
                               disable-copy-paste
                               required />
                        <label>{{:: 'app.passwordPolicy.label.confirmpassword' | i18n}}</label>
                        <button ng-show="cpCtrl.confirmNewPassword" class="reveal-password-button"
                                ng-click="cpCtrl.togglePassword('new2')">
                            <svg ng-if="!cpCtrl.showNewPassword2" svg-symbol="icon-show-password"></svg>
                            <svg ng-if="cpCtrl.showNewPassword2" svg-symbol="icon-hide-password"></svg>
                        </button>
                    </div>
                </form>
                <div ng-show="cpCtrl.policies" class="policy-container-mobile">
                    <div class="password-policy">
                        <p class="password-requirement-title">{{:: 'app.passwordPolicy.passwordRequirements' |
                            i18n}}</p>
                        <p class="password-requirement-desc" ng-bind-html="cpCtrl.policyString"></p>
                    </div>
                </div>
                <div class="button-section">
                    <button class="primary-btn save-password" ng-click="cpCtrl.changePasswordConfirm($event)"
                            ng-class="{'is-disabled': changePasswordForm.$invalid}"
                            ng-disabled="changePasswordForm.$invalid">{{:: 'hub.password.done' | i18n }}
                    </button>
                </div>
            </div>
        </div>
    </section>
</div>
